.event-metabox {
  min-height: 500px;
  position: relative;
}

.w3-sidebar {
  position: absolute !important;
}

.tlc-subnote {
  font-style: italic;
  font-size: .8em;
  position: absolute;
  bottom: 0;
  margin: 50px 10px 20px 10px;

}

.tlc-subnote::before {
  content: "*";
}

.tlc-newDate-button {
  margin-bottom: 70px !important;
}

#tlc-email-template_ifr {
    height: 300px!important;
}